*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.top{
	width: 100%;
	min-width: 1000px;
	height: 179px;
	background: url(../img/top_bg.gif) repeat-x;
	padding-top: 3px;
	
}
.top_tp{
	width: 1000px;
	height: 182px;
	margin: auto;
	background-image: url(../img/bgtu.png);
}
.top_tp ul{
	padding-left: 25px;
}
.top_tp ul li{	
	float: left;
	width: 100px;
	height: 50px;
	margin: 0 3px;
	padding-top: 10px;
	text-align: right;
	color: white;
}
.top_tp ul li a{
	color: #353430;
	font-family: "微软雅黑";
	font-weight: bold; 
}
.top_tp ul li:hover a{
	color: red;
}
.top_tp ul li:hover span{
	color: black;
}
.top_tp ul li span{
	font-size: 12px;
	display: block;
	font-weight: 100;
	color: dimgray;
	text-transform: uppercase;
}
.zhong{
	width: 100%px;
	min-width: 1000px;
	height: 550px;
	margin: auto;
	background-image: url(../img/banner_1.jpg);
	position: relative;
}
		
.tt{
	width: 100%;
	height: 550px;
	list-style: none;
	position: absolute;
	transition: 1s;
	top: 0;
	left: 0;
}

.tt:nth-of-type(1) {
	background: url(../img/2013022060299565.jpg);
	background-size: cover;
}

.tt:nth-of-type(2) {
	background: url(../img/2013021870368985.jpg);
	background-size: cover;
}

.tt:nth-of-type(3) {
	background: url(../img/2013021836639421.jpg);
	background-size: cover;
}

.tt:nth-of-type(4) {
	background: url(../img/2013040663217689.jpg);
	background-size: cover;
}
.biaoti{
	width: 1000px;
	height: 34px;
	margin: auto; 
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left:-500px;
}
.biaoti ul li{
	width: 212px;
	height: 34px;
    float: left;
    margin: 0 2px;
    background:rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    line-height: 34px;
    font-size: 12px;
}
.biaoti ul li:hover{
	background: red;
}
.biaoti ul li:nth-child(1){
	background: rgba(0,0,0,0.5);
	width: 63px;
	height: 34px;
}
.biaoti ul li:nth-child(6){
	background: rgba(0,0,0,0.5);
	width: 63px;
	height: 34px;
}
.biaoti ul li:nth-child(1){
	background: url(../img/arr.png) no-repeat;
}
.biaoti ul li:nth-child(6){
	background: url(../img/arr.png) no-repeat;
	background-position:-50px 0;
}
.biaoti ul li:nth-child(1):hover{
	background: url(../img/arr.png);
	background-position: 0 -34px;
}
.biaoti ul li:nth-child(6):hover{
	background: url(../img/arr.png);
	background-position: 64px 34px;
}
.zixun{
	width: 1000px;
	height: 98px;
	margin: auto;
	margin-top: 1px;
	background-image: url(../img/qq_08.png);
}
.qq{
	display:inline-block;
	width: 188px;
	height: 97px;
	margin-left: 258px;
}
.zixun_1{
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-bottom: 12px;
	border-radius: 100%;
	display:inline-block;
}
.zixun_2{
	width: 40px;
	height: 40px;
	margin-left: -6px;
	margin-bottom: 12px;
	border-radius: 100%;
	display:inline-block;
}
.zixun_3{
	width: 40px;
	height: 40px;
	margin-left: -6px;
	margin-bottom: 12px;
	border-radius: 100%;
	display:inline-block;
}
.center{
	width: 1000px;
	height: 910px;
	margin: auto;
	margin-top: 10px;
}
.center_left{
	width: 680px;
	height: 910px;
	float: left;
}
.center_bg b{
	font-size: 30px;
	color: white;
}
.center_left_xinwen{
	margin-top: 10px;
}
.center_left_xinwen p{
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.center_left_xinwen p a{
	font-weight: 100;
	font-size: 14px;
	color: black;
}
.center_left img{
	float: left;
}
.logo{
	width: 680px;
	height: 60px;
}
.center_text_kuang{
	width: 670px;
	height: 75px;
	float: left;
	border-bottom:1px dashed;
	margin-top: 10px;
}
.center_text_kuang p{
	width: 575px;
    height: 80px;
    font-size: 12px;
    padding-left: 80px;
    margin-top: -57px;
}
.center_text_kuang p a{
	font-weight: bold;
}
.center_text_kuang:hover .center_bg{
	background-position-y: -65px;
}
.center_text_kuang:hover .center_bg ul li{
	color: white;
}
.yeshu{
	width: 271px;
    height: 25px;
    margin-top: 20px;
    margin-left: 10px;
}
.yeshu ul li{
    color: gray;
    border: 1px solid gray;
    font-size: 12px;
    width: 15px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    margin-left: 1px;
    float: left;
    margin-top: 20px;
}
.yeshu ul li a{
	color: gray;
}
.yeshu ul li:hover{
	background: red;
}
.yeshu ul li:hover a{
	color: white;
}
.yeshu ul li:nth-child(1){
    width: 45px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    margin-top: 20px;
}
.yeshu ul li:nth-child(6){
    width: 45px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    margin-top: 20px;
}
.yeshu ul li:nth-child(7){
    width: 45px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    margin-top: 20px;
}
.center_right{
	width: 320px;
	height: 910px;
	float: left;
}
.center_right_tiao{
	width: 251px;
    height: 33px;
    margin-left: 20px;
    padding-left: 40px;
    line-height: 33px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-top: 30px;
	background: url(../img/libg16.gif);
}
.center_bg{
	width: 60px;
	height: 60px;
	background: url(../img/libg11.gif);
	border-radius: 10%;
	margin-left: 10px;
}
.center_bg ul li:nth-child(1){
	font-size: 30px;
	color: #535353;
	padding-left: 15px;
	padding-top: 4px;
}
.center_bg ul li:nth-child(2){
	font-size: 13px;
	color: #000000;
    padding-top: 6px;
    padding-left: 6px;
    font-size: 12px;
}
.center_right_tu ul li{
	float: left;
	padding-left: 15px;
}
.center_right_tu ul li img{
	border: 1px solid gray;
}
.center_right_tu ul li p{
	line-height: 10px;
	line-height: 35px;
}
.center_right_tu{
	width: 300px;
	height: 410px;
	margin-top: 20px;
	margin-left: 20px;
}
.center_right_tu p{
	font-size: 12px;
}
.center_right_tu ul li:nth-child(1):hover{
	color: red;
}
.center_right_tu ul li:nth-child(2):hover{
	color: red;
}
.center_right_tu ul li:nth-child(3):hover{
	color: red;
}
.center_right_tu ul li:nth-child(4):hover{
	color: red;
}
.center_right_tu ul li:nth-child(5):hover{
	color: red;
}
.center_right_tu ul li:nth-child(6):hover{
	color: red;
}
.center_left_text{
	width: 680px;
	height: 80px;
	background: white;
}
.center_right_tiao2{
	width: 251px;
    height: 33px;
    margin-left: 20px;
    padding-left: 40px;
    line-height: 33px;
    font-weight: bold;
    color: white;
    font-size: 15px;
	background: url(../img/libg16.gif);
}
.center_right_text{
    margin-left: 20px;
}
.center_right_text ul li a{
	display: block;
	line-height: 27px;
	width: 251px;
	height: 27px;
	font-size: 14px;
	padding-left: 25px;
	color: black;
	margin-top: 3px;
	background: url(../img/libg5.gif) no-repeat;
}
.center_right_text ul li:hover a{
	background-position-y: -28px;
color: white;
}
.center_right_text ul li:hover{
	background:red;
}
.center_left_text ul li{
	padding-left: 10px;
}
.fanhui{
    width: 65px;
    height: 20px;
    background: #b4b4b4;
    font-size: 12px;
    float: right;
    line-height: 20px;
    padding-left: 8px;
    margin-top: 120px;
    margin-right: 20px;
}
.fanhui a{
	color: white;
}
.footer{
	width: 100%;
	min-width: 1000px;
	height: 540px;
	background: #2E2E2E;
}
.footer_bg{
	width: 1000px;
	height: 230px;
	margin: auto;
    position: relative;
}
.footer_bg_tu{
	width: 300px;
	height: 230px;
	float: left;
	position: relative;
}
.footer_bg_tu ul li:nth-child(1){
	color: #979797;
	position: absolute;
	font-size: 12px;
    line-height: 20px;
    bottom: 56px;
    left: 127px;
}
.footer_bg_tu ul li:nth-child(2){
	color: #979797;
	position: absolute;
	font-size: 12px;
    line-height: 20px;
    bottom: 16px;
    left: 127px;
}
.footer_text{
	width: 700px;
	height: 107px;
	float: left;
}
.footer_text ul{
	float: left;
	margin-left: 7px;
	margin-top: 10px;
}
.footer_text ul li{
	color: #979797;
	line-height: 20px;
	font-size: 12px;
}
.footer_text ul li:nth-child(1){
	background: black;
	width: 139px;
	height: 20px;
	padding-left: 27px;
	font-weight: bold;
}
.footer_text ul li:hover{
	background: gray;
	color: white;
}
.footer_bg_top img{
	width: 58px;
	height: 27px;
	right: 0;
	bottom: 0;
	position: absolute;
}
.footer_bg_logo{
	width: 100%;
	min-width: 1000px;
	height: 182px;
	margin-top: 10px;
	background: url(../img/bg8.gif);
}.footer_bg_logo_tu{
	width: 1000px;
	height: 114px;
	margin: auto;
}
.footer_bg_logo p{
	width: 1000px;
	height: 68px;
	margin: auto;
	color: #979797;
	padding-top: 14px;
}
.footer_wei{
	width: 100%;
	min-width: 1000px;
	height: 117px;
	background: black;
}
.footer_wei_text{
	width: 1000px;
	height: 117px;
	margin: auto;
	padding-top: 20px;
}
.footer_wei_text p{
	font-weight: bold;
	color: white;
}
