*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.top{
	width: 100%;
	min-width: 1000px;
	height: 179px;
	background: url(../img/top_bg.gif) repeat-x;
	padding-top: 3px;
	
}
.top_tp{
	width: 1000px;
	height: 182px;
	margin: auto;
	background-image: url(../img/bgtu.png);
}
.top_tp ul{
	padding-left: 25px;
}
.top_tp ul li{	
	float: left;
	width: 100px;
	height: 50px;
	margin: 0 3px;
	padding-top: 10px;
	text-align: right;
	color: white;
}
.top_tp ul li a{
	color: #353430;
	font-family: "微软雅黑";
	font-weight: bold; 
}
.top_tp ul li:hover a{
	color: red;
}
.top_tp ul li:hover span{
	color: black;
}
.top_tp ul li span{
	font-size: 12px;
	display: block;
	font-weight: 100;
	color: dimgray;
	text-transform: uppercase;
}
.zhong{
	width: 100%px;
	min-width: 1000px;
	height: 550px;
	margin: auto;
	background-image: url(../img/banner_1.jpg);
	position: relative;
}
		
.tt{
	width: 100%;
	height: 550px;
	list-style: none;
	position: absolute;
	transition: 1s;
	top: 0;
	left: 0;
}

.tt:nth-of-type(1) {
	background: url(../img/2013022060299565.jpg);
	background-size: cover;
}

.tt:nth-of-type(2) {
	background: url(../img/2013021870368985.jpg);
	background-size: cover;
}

.tt:nth-of-type(3) {
	background: url(../img/2013021836639421.jpg);
	background-size: cover;
}

.tt:nth-of-type(4) {
	background: url(../img/2013040663217689.jpg);
	background-size: cover;
}
.biaoti{
	width: 1000px;
	height: 34px;
	margin: auto; 
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left:-500px;
}
.biaoti ul li{
	width: 212px;
	height: 34px;
    float: left;
    margin: 0 2px;
    cursor: pointer;
    background:rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    line-height: 34px;
    font-size: 12px;
}
.biaoti ul li:hover{
	background: red;
}
.biaoti ul li:nth-child(1){
	background: rgba(0,0,0,0.5);
	width: 63px;
	height: 34px;
}
.biaoti ul li:nth-child(6){
	background: rgba(0,0,0,0.5);
	width: 63px;
	height: 34px;
}
.biaoti ul li:nth-child(1){
	background: url(../img/arr.png) no-repeat;
}
.biaoti ul li:nth-child(6){
	background: url(../img/arr.png) no-repeat;
	background-position:-50px 0;
}
.biaoti ul li:nth-child(1):hover{
	background: url(../img/arr.png);
	background-position: 0 -34px;
}
.biaoti ul li:nth-child(6):hover{
	background: url(../img/arr.png);
	background-position: 64px 34px;
}
.zixun{
	width: 995px;
	height: 98px;
	margin: auto;
	margin-top: 1px;
	background-image: url(../img/qq_08.png);
}
.qq{
	display:inline-block;
	width: 188px;
	height: 97px;
	margin-left: 258px;
}
.zixun_1{
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-bottom: 12px;
	border-radius: 100%;
	display:inline-block;
}
.zixun_2{
	width: 40px;
	height: 40px;
	margin-left: -6px;
	margin-bottom: 12px;
	border-radius: 100%;
	display:inline-block;
}
.zixun_3{
	width: 40px;
	height: 40px;
	margin-left: -6px;
	margin-bottom: 12px;
	border-radius: 100%;
	display:inline-block;
}
.center{
	width: 1000px;
	height: 500px;
	margin: auto;
	margin-top: 10px;
}
.kuang{
	width: 630px;
	height: 430px;
	margin: -3px;
	float: left;
}
.center_1{
	width: 320px;
	height: 415px;
	float: left;
}
.center_1 ul li{
	border-bottom:1px dotted #353434;
	width: 300px;
    height: 34px;
    line-height: 34px;
}
.center_1 ul li:hover a{
	color: red;
}
.center_1 ul li a{
	font-size: 14px;
	font-weight: 100;
	color: #4F4F4F;
}
.center_1 ul li:nth-child(1){
	font-weight: bold;
	font-size: 20px;
}
.center_1 ul li a:nth-child(1){
	color: red;
}
.center_1_tu img{
    width: 300px;
    height: 192px;
    margin: auto;
    margin-left: 5px;
    margin-top: 5px;
    padding: 4px;
    border: 1px solid gainsboro;
}
.center_2{
	width: 310px;
	height: 415px;
	float: right;
	margin-top: 6px;
}
.center_2_tu1{
	width: 265px;
	height: 65px;
	margin: auto;
	padding-left: 15px;
	background: url(../img/ico_bg1.gif)no-repeat;
} 
.center_2_tu1 p{
    font-size: 13px;
    padding-left: 27px;
    padding-top: 21px;
    width: 210px;
}
.center_2_tu1:hover{
	background-position: 0px -65px;
	color: red;
}
.center_2_tu2{
	width: 265px;
	height: 65px;
	margin: auto;
	padding-left: 15px;
	background: url(../img/ico_bg2.gif)no-repeat;
} 
.center_2_tu2 p{
    font-size: 13px;
    padding-left: 27px;
    padding-top: 21px;
    width: 210px;
}
.center_2_tu2:hover{
	background-position: 0px -65px;
	color: red;
}
.center_2_tu3{
	width: 265px;
	height: 65px;
	margin: auto;
	padding-left: 15px;
	background: url(../img/ico_bg3.gif)no-repeat;
} 
.center_2_tu3 p{
    font-size: 13px;
    padding-left: 27px;
    padding-top: 21px;
    width: 210px;
}
.center_2_tu3:hover{
	background-position: 0px -65px;
	color: red;
}
.center_2_text ul li {
    border-bottom: 1px dotted #353434;
    width: 300px;
    height: 34px;
    line-height: 34px;
}
.center_2_text ul li a{
	font-size: 14px;
	font-weight: 100;
	color: #4F4F4F;
}
.center_2_text ul li:hover a{
	color: red;
}
.center_2_text ul li:nth-child(1){
	font-weight: bold;
	font-size: 20px;
}
.center_2_text ul li:nth-child(1) a{
	color: red;
}
.center_2_text{
	margin-top: 8px;
}
.logo2{
	width: 612px;
	height: 60px;
	margin: auto;
	background: gainsboro;
}
.meimei{
	width: 350px;
	height: 490px;
	background: url(../img/meinv_16.png);
	float: right;
	margin-top: -52px;
	margin-right: 10px;
}
.showcase{
	width: 1000px;
	height: 416px;
	margin: auto;
	margin-top: 20px;
}
.showcase>ul>li{
	width: 240px;
	height: 326px;
	float: left;
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 0 0;
}
.showcase>ul>li:nth-child(1){
	background-image: url(../img/tu_1.png);
}
.showcase>ul>li:nth-child(2){
	background-image: url(../img/tu_2.png);
}
.showcase>ul>li:nth-child(3){
	background-image: url(../img/tu_3.png);
}
.showcase>ul>li:nth-child(4){
	background-image: url(../img/tu_4.png);
}
.showcase>ul>li div{
	width: 240px;
	height: 326px;
	position: relative;
	background: rgba(0,0,0,0.5);
	display: none;
}
.showcase>ul>li>div>ul{
	color: white;
	position: absolute;
	bottom: 4px;
    margin-left: 12px;
}
.showcase>ul>li:hover div{
	display: block;
}
.showcase>ul>li>div>ul>li:nth-child(1){
	font-size: 30px;
}
.showcase>ul>li>div>ul>li:nth-child(3){
	color: red;
}
.showcase>ul>li>div>ul>li:nth-child(2){
	border-bottom:1px dotted;
}
.showcase>ul>li>div>ul>li:nth-child(4){
	border-bottom:1px dotted;
}
.footer{
	width: 100%;
	min-width: 1000px;
	height: 540px;
	background: #2E2E2E;
}
.footer_bg{
	width: 1000px;
	height: 230px;
	margin: auto;
    position: relative;
}
.footer_bg_tu{
	width: 300px;
	height: 230px;
	float: left;
	position: relative;
}
.footer_bg_tu ul li:nth-child(1){
	color: #979797;
	position: absolute;
	font-size: 12px;
    line-height: 20px;
    bottom: 56px;
    left: 127px;
}
.footer_bg_tu ul li:nth-child(2){
	color: #979797;
	position: absolute;
	font-size: 12px;
    line-height: 20px;
    bottom: 16px;
    left: 127px;
}
.footer_text{
	width: 700px;
	height: 107px;
	float: left;
}
.footer_text ul{
	float: left;
	margin-left: 7px;
	margin-top: 10px;
}
.footer_text ul li{
	color: #979797;
	line-height: 20px;
	font-size: 12px;
}
.footer_text ul li:nth-child(1){
	background: black;
	width: 139px;
	height: 20px;
	padding-left: 27px;
	font-weight: bold;
}
.footer_text ul li:hover{
	background: gray;
	color: white;
}
.footer_bg_top img{
	width: 58px;
	height: 27px;
	right: 0;
	bottom: 0;
	position: absolute;
}
.footer_bg_logo{
	width: 100%;
	min-width: 1000px;
	height: 182px;
	margin-top: 10px;
	background: url(../img/bg8.gif);
}.footer_bg_logo_tu{
	width: 1000px;
	height: 114px;
	margin: auto;
}
.footer_bg_logo p{
	width: 1000px;
	height: 68px;
	margin: auto;
	color: #979797;
	padding-top: 14px;
}
.footer_wei{
	width: 100%;
	min-width: 1000px;
	height: 117px;
	background: black;
}
.footer_wei_text{
	width: 1000px;
	height: 117px;
	margin: auto;
	padding-top: 20px;
}
.footer_wei_text p{
	font-weight: bold;
	color: white;
}
